.hrmcode {
	font-family: 'Passion One', sans-serif, Impact;
	font-size: 130%;
	background-color: #bca08b;
	color: black;
}
.hrmcode table {
	border-collapse: collapse;
}
.hrmcode div {
	margin: .3em;
}
.hrmcode td {
	padding: 0.3em;
}
.hrmcode span {
	text-transform: lowercase;
	padding: 0.1em 0.5em;
	border-radius: 0.1em;
	box-shadow: 0.1em 0.1em 0.05em #ac907b;
}
.hrmcode .unknown {
}
.hrmcode .copyfrom,.hrmcode .copyto {
	background-color: #c96a52;
	color: #5f2b1d;
}
.hrmcode .comment {
	background-color: #ddd6b5;
	color: black;
}
.hrmcode .comment svg {
	vertical-align: middle;
}
.hrmcode .arg svg {
	vertical-align: middle;
}
.hrmcode .inbox,.hrmcode .outbox {
	background-color: #9cb65b;
	color: #474f2c;
}
.hrmcode .bumpup,.hrmcode .bumpdown,.hrmcode .add,.hrmcode .sub {
	background-color: #c48d63;
	color: #5b3d27;
}
.hrmcode .jump,.hrmcode .jumpn,.hrmcode .jumpz,.hrmcode .jumpdst {
	background-color: #8d8dc1;
	color: #3d3c5a;
}
.hrmcode .jumpdst {
	color: #5d5d91;
}
.hrmcode .asm_comment {
	background-color: #ddd6b5;
	color: #666;
}
.hrmcode td.linenum {
	background-color: #a48a78;
	color: #7b6456;
}
