
.footer {
	font-size: 80%;
	color: #888;
}
body {
	font-family: 'Passion One', sans-serif, Impact;
	font-size: 130%;
	background-color: #bca08b;
	color: black;
}
h1,h2,h3,h4 {
	font-weight: normal;
}
h1 {
	color: #9c8171;
	margin-top: 0.3em;
	margin-bottom: 0.3em;
	margin-left: 1em;
}
#code {
	border-collapse: collapse;
}
#code div {
	margin: .3em;
}
#code td {
	padding: 0.3em;
}
#code span {
	text-transform: lowercase;
	padding: 0.1em 0.5em;
	border-radius: 0.1em;
	box-shadow: 0.1em 0.1em 0.05em #ac907b;
}
.unknown {
}
.copyfrom,.copyto {
	background-color: #c96a52;
	color: #5f2b1d;
}
.comment {
	background-color: #ddd6b5;
	color: black;
}
.comment svg {
	vertical-align: middle;
}
.arg svg {
	vertical-align: middle;
}
.inbox,.outbox {
	background-color: #9cb65b;
	color: #474f2c;
}
.bumpup,.bumpdown,.add,.sub {
	background-color: #c48d63;
	color: #5b3d27;
}
.jump,.jumpn,.jumpz,.jumpdst {
	background-color: #8d8dc1;
	color: #3d3c5a;
}
.jumpdst {
	color: #5d5d91;
}
.asm_comment {
	background-color: #ddd6b5;
	color: #666;
}
td.linenum {
	background-color: #a48a78;
	color: #7b6456;
}
